/*****************
CSS RESET
******************/
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

/*****************
GENERICS
******************/

body {
	font-family: sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 1.5rem;
}

/* Web APP, mantiene il footer (barra dei comandi) fissato. */

.top {
    height: calc(100vh - 120px);
}

footer  {
    height: 120px;
    background-color: #282828;
}

/*****************
UTILS
******************/
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
}

.pl-20 {
    padding-left: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.br-50 {
    border-radius: 50%;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-30 {
    margin-left: 30px;
}

.gap-30 {
    gap: 30;
}


/*****************
BTN
******************/

.btn {
    padding: 10px 30px;
    border-radius: 20px;

    color: white;
    border: 1px solid white;

    cursor: pointer;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6rem;

    margin-right: 10px;
}

/*****************
TOP LEFT
******************/

.top-left {
    flex-basis: 250px;
    flex-shrink: 0;
    background-color: #000;
    color: #fff;
    padding-left: 10px; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-sm {
    display: none;
}

.user img{
    height: 20px;
    background-color: grey;
    border-radius: 50%;
    margin-right: 5px;
}

/*****************
TOP RIGHT
******************/

.top-right {
    flex-grow: 1;
    position: relative;
    background-color: #141922;
    overflow-y: auto;
    color: white;
}

.top-right .header{
    height: 80px;

    position: fixed;
    left: 250px;
    right: 0;

    background-color: rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main {
    margin-top: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.col {
    flex-basis: calc(100% / 6);
}

.card {
    padding: 20px;
}

.card p {
    text-align: center;
    margin-top: 10px;
    word-break: break-word;
}

.title-card {
    font-weight: bold;
}

.subtitle-card {
    font-size: .6rem;
    color: #7d7f84;
}

/*****************
FOOTER
******************/

.player {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player img {
    height: 60px;
    width: 60px;
}

.footer-left{
    flex-shrink: 0;
}

.footer-left .fa-solid {
    font-weight: 100;
    margin-left: 10px;
    color: #7d7f84;
}

.txt-white {
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

.txt-grey {
    color: #7d7f84;
    font-size: 0.7rem;
}

.footer-center {
    flex-shrink: 1;
}

.footer-center .fa-solid {
    font-size: 1.3rem;
    color: white;
}

.footer-center .fa-play {
    font-size: 1.5rem;
    border: 3px solid white;
    border-radius: 50%;
    padding: 5px 10px;

}

.bar {
    height: 5px;
    background-color: #7d7f84;
    border-radius: 10px;
}

.footer-center .bar {
    width: 500px;
}

.footer-right .bar {
    width: 200px;
}

.progress-bar p {
    color: white;
    font-size: .7rem;
    font-weight: bold;
    margin: 5px;
}

.footer-right .fa-solid {
    margin-right: 10px;
    color: white;
}

/*****************
RESPONSIVE
******************/

@media screen and (max-width: 1199px) {

    .title-card {
        font-size: .8rem;
    }
    
    .subtitle-card {
        font-size: .6rem;
    }
}

@media screen and (max-width: 1099px) {

    .title-card {
        font-size: .7rem;
    }
    
    .subtitle-card {
        font-size: .5rem;
    }

    .footer-center .bar {
        width: 250px;
    }
    
    .footer-right .bar {
        width: 100px;
    }

}

@media screen and (max-width: 992px) {

    .col {
        flex-basis: 25%;
    }

    .title-card {
        font-size: .7rem;
    }
    
    .subtitle-card {
        font-size: .5rem;
    }

}

@media screen and (max-width: 808px) {

    .footer-center .bar {
        width: 200px;
    }
    
    .footer-right .bar {
        width: 80px;
    }

    .footer-center .fa-solid {
        font-size: 1rem;
    }
    
    .footer-center .fa-play {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 808px) {

    .footer-center .bar {
        width: 125px;
    }
    
    .footer-right .bar {
        width: 50px;
    }

    .footer-center .fa-solid {
        font-size: 0.8rem;
    }
    
    .footer-center .fa-play {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .col {
        flex-basis: 50%;
    }

    .ml-30 {
        margin-left: 10px;
    }
}

@media screen and (max-width: 613px) {

    .top-left {
        flex-basis: 40px;
    }

    .top-right .header{
        left: 40px;
    }

    .top-left .playlist,
    .top-left span,
    .top-left .logo {
        display: none;
    }

    .top-left .logo-sm {
        display: block;
    }

    .top-left i {
        text-align: center;
        margin-bottom: 5px;
    }

    .footer-center .bar {
        width: 87.5px;
    }
    
    .footer-right .bar {
        width: 35px;
    }
}


@media screen and (max-width: 576px) {
    .title-card {
        font-size: 1rem;
    }
    
    .subtitle-card {
        font-size: .6rem;
    }
}
