/*****************
CSS RESET
******************/
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

/*****************
GENERICS
******************/

body {
	font-family: sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 1.5rem;
}

/* Web APP, mantiene il footer (barra dei comandi) fissato. */

.top {
    height: calc(100vh - 120px);
}

footer  {
    height: 120px;
    background-color: #282828;
}

/*****************
UTILS
******************/
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.pl-20 {
    padding-left: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.br-50 {
    border-radius: 50%;
}



/*****************
BTN
******************/

.btn {
    padding: 10px 30px;
    border-radius: 20px;

    color: white;
    border: 1px solid white;

    cursor: pointer;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6rem;

    margin-right: 10px;
}

/*****************
TOP LEFT
******************/

.top-left {
    flex-basis: 250px;
    flex-shrink: 0;
    background-color: #000;
    color: #fff;
    padding-left: 10px; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-sm {
    display: none;
}

.user img{
    height: 20px;
    background-color: grey;
    border-radius: 50%;
    margin-right: 5px;
}

/*****************
TOP RIGHT
******************/

.top-right {
    flex-grow: 1;
    position: relative;
    background-color: #141922;
    overflow-y: auto;
    color: white;
}

.top-right .header{
    height: 80px;

    position: fixed;
    left: 250px;
    right: 0;

    background-color: rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main {
    margin-top: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: calc(100% / 6);
}

.card {
    padding: 20px;
}

.card p {
    text-align: center;
    margin-top: 10px;
}

.title-card {
    font-weight: bold;
}

.subtitle-card {
    font-size: .6rem;
    color: #7d7f84;
}

/*****************
FOOTER
******************/


/*****************
RESPONSIVE
******************/

@media screen and (max-width: 992px) {

    .col {
        flex-basis: calc(100% / 6);
    }

}

@media screen and (max-width: 768px) {

    .col {
        flex-basis: calc(100% / 4);
    }
    
}

@media screen and (max-width: 576px) {

    .col {
        flex-basis: calc(100% / 3);
    }

}

@media screen and (max-width: 576px) {

    .top-left {
        flex-basis: 40px;
    }

    .top-right .header{
        left: 40px;
    }

    .top-left .playlist,
    .top-left span,
    .top-left .logo {
        display: none;
    }

    .top-left .logo-sm {
        display: block;
    }

    .top-left i {
        text-align: center;
        margin-bottom: 5px;
    }

    .col {
        flex-basis: 50%;
    }
}
